.client-info {
  grid-area: client-info;

  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}

.avatar-wrapper {
  display: inline-block;
  padding: 2px;
  border-radius: 10px;
  background-image: var(--gradient-base); 
}

.avatar-wrapper img {
  display: block;
  width: 3.5rem; 
  height: 3.5rem;
  border-radius: 10px;
  border: 2px solid white; 
}

.client-info .name-date {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.client-info .name-date h3 {
  font: var(--title--sm);
}

.client-info .name-date span {
  font: var(--text--xs);
}