.input-container {
  position: relative;

  margin-top: 2rem;
}

.input-container input {
  width: 25rem;
  border: 0;
  padding: 1rem;
  border-radius:12px;
  background-color: var(--gray-300);
  border: 1px solid var(--gray-400);

  font: var(--text--md);
}

.input-container input:focus { 
  outline: 2px solid var(--pink);
  caret-color: var(--pink);
}

.input-container button {
  position: absolute;
  right: 8px;
  top: 8px;
  bottom: 8px;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 8px;
  height: 2.5rem;
  width: 2.5rem;

  color: var(--white);
  background-color: var(--gray-500);
}

.input-container button i {
  display: block;
  font-size: 1.25rem;
}
