.grid-item {
  background-color: var(--gray-100);
  border-radius: 1rem; 

  border: 1px solid var(--gray-300);
}

.fidelity-card {
  grid-area: fidelity-card;
}

.cuts-left {
  grid-area: cuts-left;
}

main {
  margin-top: 4rem;

  display: grid;
  grid-template-areas: 
  "client-info fidelity-card fidelity-card"
  "history fidelity-card fidelity-card"
  "history cuts-left cuts-left"
  ;
  gap: 1rem 1.5rem;

  min-width: 57rem;
}

@media (max-width: 1100px) {
  :root {
    font-size: 14px;
  }

  main {
    min-width: inherit;
    
    width: 100%;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
    grid-template-areas: 
    "client-info client-info"
    "fidelity-card fidelity-card"
    "cuts-left cuts-left"
    "history history"
    ;
  }
}
